@font-face {
    font-family: "Robotoooo";
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

* {
    box-sizing: border-box;
    font-family: "Robotoooo";
}

body {
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: cornflowerblue;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.header h2 {
    text-align: center;
}

h2 {
    padding-left: 3px;
}

.addBtn {
    background-color: rgb(204, 204, 204);
    width: 25%;
    padding: 5.5px;
    text-align: center;
    cursor: pointer;
    float: right;
}

input {
    border: none;
    padding: 7px;
    width: 75%;
}

#ul_todos {
    padding: 0px;
    margin: 0px;
}

ul div li {
    background-color: lightblue;
    cursor: pointer;
    margin: 5px;

    padding: 12px 8px 12px 20px;
}

ul div img {
    float: right;
    position: relative;
    bottom: 41px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

ul div img:hover {
    /* background-color: lightgray; */
    animation: rotation 3s infinite linear;
}

.checked {
    background-color: rgb(124, 255, 255);
}

.round_button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.text_1 {
    font-weight: bold;
    font-size: 120%;
    /* position: fixed; */
    /* left: 20%; */
}

.text_2 {
    position: relative;
}

.text_3 {
    position: relative;
}

.text_4 {
    position: relative;
    right: 1%;
    bottom: 60px;
    text-align: right;
    font-size: 120%;
}
