r-type_client
Asio/
*.o
.vscode/
logs/
test.png
.DS_Store
vgcore*
**/build/
client/lib/
=======
# config files
.vscode/
launch.json
.env

# useless files
*~
\#*#
.#*
*#
.#*#
__pycache__

# c
*.a
*.o
vgcore*
unit_tests*
a.out
r-type_server
r-type_client

# test files
tmp/
test/
logs/
*.log
client_test.c*
clienttest
ecsdemo
todo.txt
slow.sh
Instructions.md
